<template name="searchResults">
	<div class="mdl-grid mdl-cell--12-col">

		<div class="mdl-grid mdl-cell--12-col">
			<div class="mdl-grid mdl-cell--6-col">
				<h3 class="mdl-color-text--grey-600">Search results</h3>
			</div>
			<div class="mdl-grid mdl-cell--6-col">
				<div class="mdl-cell--middle">
					Rooms: {{queryParams.minRooms}}...{{queryParams.maxRooms}} &nbsp;|&nbsp;
					Floor: {{queryParams.minFloor}}...{{queryParams.maxFloor}} &nbsp;|&nbsp;
					Price: {{queryParams.minPrice}}...{{queryParams.maxPrice}}
				</div>
			</div>
		</div>
		<div class="mdl-grid mdl-cell--12-col">
			{{#each apartments}}
				{{> apartment}}
			{{/each}}
		</div>
	</div>
</template>

<template name="apartment">
	<div class="mdl-card mdl-shadow--2dp">
		<div class="mdl-card__title mdl-card--expand" style="background-image:url({{info.picture}})">
			<span class="mdl-card__title-text label-price">${{info.price}}</span>
		</div>
		<div class=" mdl-grid mdl-card__supporting-text">
			<div class="mdl-grid mdl-cell--8-col"><strong>{{address.info}}</strong></div>
			<div class="mdl-grid mdl-cell--4-col">
				<div>Floor: {{info.floor}}</div>&nbsp;
				<div>Rooms: {{info.rooms}}</div>
			</div>
		</div>
		<div class="mdl-card__actions mdl-card--border">
			<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
				Show Details
			</a>
			<a href="tel:{{contact.phone}}" class="call-me"><i class="material-icons">settings_phone</i></a>
			<a href="sms:{{contact.phone}}" class="call-me"><i class="material-icons">sms</i></a>
		</div>
	</div>
</template>
