<template name="main">
	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
		<header class="mdl-layout__header">
			<div class="mdl-layout__header-row">
				<span class="mdl-layout-title"><a href="/">Yad3</a></span>
				<div class="mdl-layout-spacer"></div>
				<nav class="mdl-navigation mdl-layout--large-screen-only">
					<a class="mdl-navigation__link" href="/publish">Publish</a>
					<a class="mdl-navigation__link" href="/search">Search</a>
					<a class="mdl-navigation__link" href="/account">My Account</a>
					<a class="mdl-navigation__link" href="/logout">Logout</a>
				</nav>
			</div>
		</header>
		<div class="mdl-layout__drawer">
			<span class="mdl-layout-title">Yad3</span>
			<nav class="mdl-navigation">
				<a class="mdl-navigation__link" href="/publish">Publish</a>
				<a class="mdl-navigation__link" href="/search">Search</a>
				<a class="mdl-navigation__link" href="/account">My Account</a>
				<a class="mdl-navigation__link" href="/logout">Logout</a>
			</nav>
		</div>
		<main class="mdl-layout__content">
			<div class="page-content">
				{{> yield}}
			</div>
		</main>
		<footer class="mdl-mini-footer">
			<div class="mdl-mini-footer--left-section">
				<div class="mdl-logo">Yad3</div>
				<ul class="mdl-mini-footer--link-list">
					<li><a href="#">Help</a></li>
					<li><a href="#">Privacy & Terms</a></li>
				</ul>
			</div>
		</footer>
	</div>
</template>